.form-cont {
	width: 50%; 
	margin: 25px auto
}
body{
	background: #2BC0E4;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #EAECC6, #2BC0E4);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #EAECC6, #2BC0E4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
label{
	color: white;
}
.content {
	color: white;
	text-align: center;
	padding-top: 35px;
	padding-bottom: 30px;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
					0px 8px 13px rgba(0,0,0,0.1),
					0px 18px 23px rgba(0,0,0,0.1);
}	
.error {
	color: red;
	text-align: center;
}	
